<header>
  <a href="/"><h1 class="title">Construction Hub</h1></a>

  <nav>
    <ul class="nav-links">
      <a href="/projects"><li class="index-link">Project List</li></a>
      <a href="/projects/new"><li class="new-link">Create Project</li></a>
      <a href="/forms"><li class="forms-link">Forms</li></a>
    </ul>
</nav>
</header>