<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
  <div class="background">
    <main class="homepage">
      <article class="forms-preview">
        <h2>Track Projects</h2>
      </article>
      <article class="project-preview">
        <h2>Submit Forms</h2>
      </article>

      <article class="estimates-preview">
        <h2>Project Estimates</h2>
      </article>
      <article class="org-preview">
        <h2>Share within your organization</h2>
      </article>

    </main>
  </div> 
</body>